.slider {
  &__swiper {
    width: 100%;
    aspect-ratio: 1440 / 692;
    position: relative;
    padding-bottom: 45px;

    @media (max-width: 1439px) {
      aspect-ratio: 1024 / 661;

      & .container {
        padding: 0 56px;
      }
    }

    @media (max-width: 1010px) {
      // aspect-ratio: 414 / 423;
      padding-bottom: 170px;
      & .container {
        padding: 0;
      }
    }

    @media(max-width: 700px) {
      aspect-ratio: 414 / 500;
    }
  }

  &__wrapper {
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__card {
    padding: 30px 20px 20px 50px;
    max-width: 632px;
    background-color: rgba(0, 16, 49, 0.75);

    @media (max-width: 1439px) {
      max-width: 450px;
      padding: 21px 15px 21px 35px;
    }

    @media (max-width: 1010px) {
      max-width: unset;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 21px 15px 21px 15px;
    }

    &-title {
      font-weight: 500;
      font-size: 60px;
      line-height: 124%;
      letter-spacing: 0.02em;
      color: #fff;
      margin-bottom: 35px;

      @media (max-width: 1439px) {
        font-size: 42px;
        margin-bottom: 25px;
      }

      @media (max-width: 1010px) {
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
        max-width: 332px;
      }
    }

    &-text {
      color: #fff;
      font-weight: 400;
      font-size: 26px;
      line-height: 140%;
      letter-spacing: 0.02em;
      margin-bottom: 35px;

      @media (max-width: 1439px) {
        font-size: 18px;
        margin-bottom: 25px;
      }

      @media (max-width: 1010px) {
        font-size: 17px;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    &-button {
      @include button();
    }

  }

  &__item {
    &:first-of-type {
      background: url("../../images/slider/image1.jpeg") no-repeat center;
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../../images/slider/image2.jpeg") no-repeat center;
      background-size: cover;
    }

    &:last-of-type {
      background: url("../../images/slider/image3.jpeg") no-repeat center;
      background-size: cover;
    }
  }

  &__pagination {
    width: 87px !important;
    margin-bottom: 75px;

    @media (max-width: 1010px) {
      display: none;
    }

    & > .swiper-pagination-bullet {
      width: 17px;
      height: 17px;
      box-sizing: border-box;
      background-color: inherit;
      border: 1px solid $main-color;
      opacity: 1;
    }

    & > .swiper-pagination-bullet-active {
      background-color: $main-color;
      border: none;
    }
  }
}