body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

.header {
  background-color: #001031;
  color: #fff;
  padding-top: 20px;
}
.header__row {
  display: none;
}
@media (max-width: 1010px) {
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 15px 0;
  }
  .header__row > div {
    cursor: pointer;
  }
}
.header__nav--active {
  transform: translateX(0) !important;
}
.header__close {
  display: none;
  cursor: pointer;
}
@media (max-width: 1010px) {
  .header__close {
    display: block;
    padding: 39px 0 0 22px;
  }
}
.header__logo {
  margin-right: 47px;
}
@media (max-width: 1010px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1010px) {
  .header__content {
    display: none;
  }
}
.header__midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1439px) {
  .header__midle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.header__addres {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1439px) {
  .header__addres {
    max-width: 201px;
  }
}
.header__addres-icon {
  margin-right: 12px;
}
.header__tel {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  margin-left: 60px;
}
@media (max-width: 1439px) {
  .header__tel {
    margin-left: 0;
    margin-top: 17px;
  }
}
.header__social-link {
  margin-right: 23px;
}
.header__button {
  background-color: #FBDE96;
  color: #001031;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  transition: all 0.3s;
  text-transform: uppercase;
  padding: 12px 24px !important;
  font-size: 20px !important;
}
.header__button:hover {
  background-color: #F4EAD0;
  color: #fff;
}
@media (max-width: 1010px) {
  .header__nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: url("../../images/back-nav.jpeg") no-repeat;
    background-position: left;
    background-size: cover;
    transition: all 0.5s;
    transform: translateX(-150%);
  }
  .header__nav > .container {
    margin: 0;
  }
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 21px 0 33px 0;
}
@media (max-width: 1010px) {
  .header__nav-list {
    flex-direction: column;
    padding: 110px 0 0 22px;
  }
}
.header__nav-item {
  margin-right: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .header__nav-item {
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}
.header__nav-item:last-of-type {
  margin-right: 0;
}

.main__info {
  margin-bottom: 112px;
}
@media (max-width: 1010px) {
  .main__info {
    margin-bottom: 53px;
  }
}
.main__reviews {
  margin-bottom: 140px;
}
@media (max-width: 1439px) {
  .main__reviews {
    margin-bottom: 100px;
  }
}
@media (max-width: 1010px) {
  .main__reviews {
    margin-bottom: 40px;
  }
}

.info__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 73px;
}
@media (max-width: 1439px) {
  .info__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .info__title {
    height: 25px;
  }
}
.info__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .info__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .info__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .info__title {
    margin-bottom: 46px;
  }
}
@media (max-width: 1010px) {
  .info__title {
    margin-bottom: 20px;
  }
}
.info__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 73px;
}
@media (max-width: 1439px) {
  .info__list {
    margin-bottom: 46px;
  }
}
@media (max-width: 1010px) {
  .info__list {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap: 12px;
    margin-bottom: 40px;
  }
}
.info__item {
  display: flex;
  align-items: center;
}
.info__item-icon {
  margin-right: 15px;
}
@media (max-width: 1439px) {
  .info__item-icon {
    width: 43px;
  }
}
@media (max-width: 1010px) {
  .info__item-icon {
    width: 34px;
  }
}
.info__item-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: 2%;
  color: #001031;
}
@media (max-width: 1439px) {
  .info__item-text {
    font-size: 22px;
  }
}
@media (max-width: 1010px) {
  .info__item-text {
    font-size: 17px;
  }
}
.info__text-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 1439px) {
  .info__text-list {
    margin-bottom: 30px;
  }
}
@media (max-width: 1010px) {
  .info__text-list {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.info__text-item {
  max-width: 580px;
}
@media (max-width: 1439px) {
  .info__text-item:first-of-type {
    max-width: 450px;
  }
  .info__text-item:last-of-type {
    max-width: 420px;
  }
}
@media (max-width: 1010px) {
  .info__text-item:first-of-type {
    margin-bottom: 13px;
  }
}
.info__text-content {
  font-size: 24px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: 2%;
  color: #001031;
}
@media (max-width: 1439px) {
  .info__text-content {
    font-size: 18px;
  }
}
@media (max-width: 1010px) {
  .info__text-content {
    font-size: 15px;
  }
}
.info__avtor {
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: 2%;
  color: #001031;
  margin-bottom: 73px;
}
@media (max-width: 1439px) {
  .info__avtor {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
@media (max-width: 1010px) {
  .info__avtor {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
.info__images-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 43px;
}
@media (max-width: 1439px) {
  .info__images-list {
    margin-bottom: 20px;
  }
}
@media (max-width: 1010px) {
  .info__images-list {
    row-gap: 18px;
  }
}
@media (max-width: 1439px) {
  .info__images-item {
    width: 100%;
    max-width: 314px;
  }
}
@media (max-width: 1010px) {
  .info__images-item {
    max-width: 186px;
  }
}
.info__item-image {
  width: 100%;
}
.info__button-wrapper {
  display: flex;
  justify-content: center;
}
.info__images-button {
  display: inline-block;
  padding: 8px 50px;
  border: 3px solid rgb(251, 222, 150);
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  transition: all 0.3s;
}
@media (max-width: 1439px) {
  .info__images-button {
    font-size: 20px;
  }
}
.info__images-button:hover {
  border: 3px solid rgb(244, 234, 208);
  color: #F4EAD0;
}
@media (max-width: 1010px) {
  .info__images-button {
    padding: 8px 38px;
    font-size: 17px;
  }
}

.reviews__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 70px;
}
@media (max-width: 1439px) {
  .reviews__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .reviews__title {
    height: 25px;
  }
}
.reviews__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .reviews__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .reviews__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .reviews__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1010px) {
  .reviews__title {
    margin-bottom: 20px;
  }
}
.reviews__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (max-width: 1439px) {
  .reviews__list {
    margin-bottom: 60px;
  }
}
@media (max-width: 1010px) {
  .reviews__list {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
@media (max-width: 1439px) {
  .reviews__item {
    max-width: 479px;
  }
}
@media (max-width: 1010px) {
  .reviews__item:first-of-type {
    margin-bottom: 15px;
  }
}
.reviews__item > img {
  width: 100%;
}
.reviews__form {
  padding: 40px 242px 40px 180px;
  border: 4px solid rgb(251, 222, 150);
}
@media (max-width: 1439px) {
  .reviews__form {
    padding: 30px 184.72px 30px 137.4px;
  }
}
@media (max-width: 1010px) {
  .reviews__form {
    padding: 0;
    border: none;
  }
}
.reviews__form-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 2%;
  color: #001031;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1439px) {
  .reviews__form-title {
    font-size: 16.7px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1010px) {
  .reviews__form-title {
    margin-bottom: 4px;
  }
  .reviews__form-title:last-of-type {
    font-size: 14px;
    text-align: center;
    max-width: 309px;
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 15px;
  }
}
.reviews__form-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 1439px) {
  .reviews__form-wrapper {
    margin-bottom: 15px;
  }
}
@media (max-width: 1010px) {
  .reviews__form-wrapper {
    flex-direction: column;
    margin-bottom: 6px;
  }
}
.reviews__form-wrapper > input {
  width: 280px;
  height: 47px;
  border: 2px solid rgb(251, 222, 150);
  border-radius: 4px;
  padding: 8px 0 8px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
}
@media (max-width: 1439px) {
  .reviews__form-wrapper > input {
    width: 213px;
    font-size: 13.74px;
    height: 35.88px;
    padding: 6px 0 6px 15px;
  }
}
@media (max-width: 1010px) {
  .reviews__form-wrapper > input {
    width: 100%;
    max-width: 297px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.reviews__form-button {
  background-color: #FBDE96;
  color: #001031;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  transition: all 0.3s;
  font-size: 22px;
  font-weight: 700;
  height: 47px;
  padding: 8px 40px;
}
.reviews__form-button:hover {
  background-color: #F4EAD0;
  color: #fff;
}
@media (max-width: 1439px) {
  .reviews__form-button {
    padding: 6px 30px;
    font-size: 16.79px;
    height: 35.88px;
  }
}
@media (max-width: 1010px) {
  .reviews__form-button {
    width: 100%;
    max-width: 297px;
    margin: 0 auto;
  }
}
.reviews__form-insc {
  font-size: 16px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: 2%;
  text-align: center;
  display: block;
  color: #001031;
}
@media (max-width: 1439px) {
  .reviews__form-insc {
    font-size: 12px;
  }
}
@media (max-width: 1010px) {
  .reviews__form-insc {
    max-width: 297px;
    margin: 0 auto;
  }
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

.footer {
  padding: 50px 0 39px 0;
  background-color: #001031;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-size: 11px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
  text-decoration-line: underline;
  color: #fff;
}
.footer__right {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__right-title {
  display: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media (max-width: 1010px) {
  .footer__right-title {
    display: block;
  }
}
.footer__right-tel {
  display: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 14px;
}
@media (max-width: 1010px) {
  .footer__right-tel {
    display: block;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
}
@media (max-width: 1010px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list:first-of-type {
  margin-right: 90px;
}
.footer__nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  color: #fff;
}
.footer__nav-list > .footer__nav-item {
  margin-bottom: 5px;
}
.footer__nav-list > .footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__nav-social {
  display: flex;
  align-items: center;
}
.footer__nav-social > .footer__social-item:first-child {
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */