body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

.header {
  background-color: #001031;
  color: #fff;
  padding-top: 20px;
}
.header__row {
  display: none;
}
@media (max-width: 1010px) {
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 15px 0;
  }
  .header__row > div {
    cursor: pointer;
  }
}
.header__nav--active {
  transform: translateX(0) !important;
}
.header__close {
  display: none;
  cursor: pointer;
}
@media (max-width: 1010px) {
  .header__close {
    display: block;
    padding: 39px 0 0 22px;
  }
}
.header__logo {
  margin-right: 47px;
}
@media (max-width: 1010px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1010px) {
  .header__content {
    display: none;
  }
}
.header__midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1439px) {
  .header__midle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.header__addres {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1439px) {
  .header__addres {
    max-width: 201px;
  }
}
.header__addres-icon {
  margin-right: 12px;
}
.header__tel {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  margin-left: 60px;
}
@media (max-width: 1439px) {
  .header__tel {
    margin-left: 0;
    margin-top: 17px;
  }
}
.header__social-link {
  margin-right: 23px;
}
.header__button {
  background-color: #FBDE96;
  color: #001031;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  transition: all 0.3s;
  text-transform: uppercase;
  padding: 12px 24px !important;
  font-size: 20px !important;
}
.header__button:hover {
  background-color: #F4EAD0;
  color: #fff;
}
@media (max-width: 1010px) {
  .header__nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: url("../../images/back-nav.jpeg") no-repeat;
    background-position: left;
    background-size: cover;
    transition: all 0.5s;
    transform: translateX(-150%);
  }
  .header__nav > .container {
    margin: 0;
  }
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 21px 0 33px 0;
}
@media (max-width: 1010px) {
  .header__nav-list {
    flex-direction: column;
    padding: 110px 0 0 22px;
  }
}
.header__nav-item {
  margin-right: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .header__nav-item {
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}
.header__nav-item:last-of-type {
  margin-right: 0;
}

.main__design {
  margin-bottom: 171px;
}
@media (max-width: 1439px) {
  .main__design {
    margin-bottom: 111px;
  }
}
@media (max-width: 1010px) {
  .main__design {
    margin-bottom: 53px;
  }
}
.main__stages {
  margin-bottom: 171px;
}
@media (max-width: 1439px) {
  .main__stages {
    margin-bottom: 111px;
  }
}
@media (max-width: 1010px) {
  .main__stages {
    margin-bottom: 53px;
  }
}
.main__team {
  margin-bottom: 171px;
}
@media (max-width: 1439px) {
  .main__team {
    margin-bottom: 111px;
  }
}
@media (max-width: 1010px) {
  .main__team {
    margin-bottom: 53px;
  }
}
.main__works {
  margin-bottom: 171px;
}
@media (max-width: 1439px) {
  .main__works {
    margin-bottom: 111px;
  }
}
@media (max-width: 1010px) {
  .main__works {
    margin-bottom: 53px;
  }
}
.main__blog {
  margin-bottom: 140px;
}
@media (max-width: 1439px) {
  .main__blog {
    margin-bottom: 100px;
  }
}
@media (max-width: 1010px) {
  .main__blog {
    margin-bottom: 40px;
  }
}

.design__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 1439px) {
  .design__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .design__title {
    height: 25px;
  }
}
.design__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .design__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .design__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .design__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1010px) {
  .design__title {
    margin-bottom: 20px;
  }
}
.design__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 50px;
}
@media (max-width: 1010px) {
  .design__list {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.design__item {
  max-width: 425px;
}
@media (max-width: 1439px) {
  .design__item {
    max-width: 400px;
  }
}
@media (max-width: 1010px) {
  .design__item {
    max-width: unset;
  }
  .design__item:first-of-type {
    margin-bottom: 20px;
  }
}
.design__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2%;
  color: #001031;
}
@media (max-width: 1010px) {
  .design__text {
    font-size: 18px;
  }
}
.design__image {
  width: 100%;
}

.stages__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 76px;
}
@media (max-width: 1439px) {
  .stages__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .stages__title {
    height: 25px;
  }
}
.stages__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .stages__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .stages__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .stages__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 1010px) {
  .stages__title {
    margin-bottom: 20px;
  }
}
.stages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stages__list:last-of-type {
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 41px;
}
.stages__list:last-of-type > .stages__item:first-child {
  max-width: 298px;
}
@media (max-width: 1010px) {
  .stages__list:last-of-type > .stages__item:first-child {
    max-width: 135px;
  }
}
.stages__list:last-of-type > .stages__item:last-child {
  max-width: 232px;
}
@media (max-width: 1010px) {
  .stages__list:last-of-type > .stages__item:last-child {
    max-width: 105px;
  }
}
.stages__list:first-of-type > .stages__item {
  max-width: 232px;
}
@media (max-width: 1010px) {
  .stages__list:first-of-type > .stages__item {
    max-width: 105px;
  }
}
.stages__list:first-of-type > .stages__item:last-child {
  max-width: 282px;
}
@media (max-width: 1010px) {
  .stages__list:first-of-type > .stages__item:last-child {
    max-width: 127.7px;
  }
}
.stages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stages__item-icon {
  margin-bottom: 15px;
}
@media (max-width: 1010px) {
  .stages__item-icon {
    width: 18px;
    margin-bottom: 7px;
  }
}
.stages__item-text {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 124%;
  color: #001031;
  margin-bottom: 15px;
}
@media (max-width: 1010px) {
  .stages__item-text {
    font-size: 11.77px;
    margin-bottom: 6px;
  }
}
.stages__item-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2%;
  text-decoration-line: underline;
  color: #001031;
}
@media (max-width: 1010px) {
  .stages__item-link {
    font-size: 9px;
  }
}

.team__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 56px;
}
@media (max-width: 1439px) {
  .team__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .team__title {
    height: 25px;
  }
}
.team__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .team__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .team__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1010px) {
  .team__title {
    margin-bottom: 20px;
  }
}
.team__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media (max-width: 1439px) {
  .team__list {
    justify-content: space-between;
  }
}
@media (max-width: 1010px) {
  .team__list {
    flex-direction: column;
    row-gap: 15px;
  }
}
.team__item {
  width: 100%;
  max-width: 305px;
  color: #001031;
}
@media (max-width: 1439px) {
  .team__item {
    max-width: 288px;
  }
}
@media (max-width: 1010px) {
  .team__item {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.team__item-image {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 100%;
}
@media (max-width: 1010px) {
  .team__item-image {
    max-width: 288px;
    margin-bottom: 15px;
  }
}
.team__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2%;
  margin-bottom: 6px;
}
@media (max-width: 1439px) {
  .team__item-title {
    font-size: 22px;
  }
}
.team__item-desc {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2%;
  margin-bottom: 20px;
}
@media (max-width: 1439px) {
  .team__item-desc {
    font-size: 17px;
  }
}
.team__item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2%;
}
@media (max-width: 1439px) {
  .team__item-text {
    font-size: 18px;
  }
}
@media (max-width: 1010px) {
  .team__item-text {
    text-align: center;
  }
}

.works__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 1439px) {
  .works__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .works__title {
    height: 25px;
  }
}
.works__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .works__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .works__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .works__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1010px) {
  .works__title {
    margin-bottom: 20px;
  }
}
.works__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1010px) {
  .works__list {
    flex-direction: column;
  }
}
@media (max-width: 1439px) {
  .works__list {
    margin-bottom: 60px;
  }
}
.works__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 631/559;
}
.works__item {
  width: 100%;
  max-width: 631px;
  aspect-ratio: 631/559;
  border-radius: 4px;
}
@media (max-width: 1439px) {
  .works__item {
    max-width: 478px;
  }
}
@media (max-width: 1010px) {
  .works__item:first-of-type {
    margin-bottom: 15px;
  }
}
.works__item:first-of-type > .works__body {
  background: url("../../images/portfolio/image1.jpeg") no-repeat center;
  background-size: cover;
}
.works__item:last-of-type > .works__body {
  background: url("../../images/portfolio/image2.jpeg") no-repeat center;
  background-size: cover;
}
.works__item-title {
  text-align: center;
  max-width: 356px;
  font-size: 40px;
  font-weight: 500;
  line-height: 156%;
  letter-spacing: 2%;
  color: #fff;
  margin-bottom: 20px;
}
.works__item-button {
  display: inline-block;
  padding: 8px 50px;
  border: 3px solid rgb(251, 222, 150);
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  transition: all 0.3s;
  color: #fff;
}
@media (max-width: 1439px) {
  .works__item-button {
    font-size: 20px;
  }
}
.works__item-button:hover {
  border: 3px solid rgb(244, 234, 208);
  color: #F4EAD0;
}
.works__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 196px;
  border: 3px solid rgb(251, 222, 150);
}
@media (max-width: 1439px) {
  .works__form {
    padding: 30px 110px;
  }
}
@media (max-width: 1010px) {
  .works__form {
    border: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    max-width: 297px;
    margin: 0 auto;
  }
}
.works__form-left {
  width: 294px;
}
.works__form-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 2%;
  color: #001031;
  text-align: justify;
}
@media (max-width: 1010px) {
  .works__form-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
.works__form-tel {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  text-align: center;
}
@media (max-width: 1010px) {
  .works__form-tel {
    margin-bottom: 20px;
  }
}
.works__form-button {
  background-color: #FBDE96;
  color: #001031;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  transition: all 0.3s;
  padding: 8px 40px;
  margin-bottom: 21px;
}
.works__form-button:hover {
  background-color: #F4EAD0;
  color: #fff;
}
@media (max-width: 1010px) {
  .works__form-button {
    width: 297px;
    font-size: 22px;
    font-weight: 700;
  }
}
.works__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.works__social-item {
  margin-right: 9px;
  cursor: pointer;
}
.works__social-item:first-of-type {
  border-radius: 50%;
}
.works__social-item:last-of-type {
  margin-right: 0;
}

.blog__title {
  height: 52px;
  border: 2.5px solid #001031;
  border-radius: 4px;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 1439px) {
  .blog__title {
    height: 43px;
  }
}
@media (max-width: 1010px) {
  .blog__title {
    height: 25px;
  }
}
.blog__title-text {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2%;
  color: #001031;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 30px;
}
@media (max-width: 1439px) {
  .blog__title-text {
    font-size: 30px;
    left: 23px;
    top: -24px;
  }
}
@media (max-width: 1010px) {
  .blog__title-text {
    font-size: 16px;
    left: 10px;
    top: -14px;
  }
}
@media (max-width: 1439px) {
  .blog__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1010px) {
  .blog__title {
    margin-bottom: 20px;
  }
}
.blog__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1010px) {
  .blog__list {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
.blog__item {
  width: 100%;
  max-width: 305px;
}
@media (max-width: 1439px) {
  .blog__item {
    max-width: 232px;
  }
}
@media (max-width: 1010px) {
  .blog__item {
    max-width: 187px;
  }
}
.blog__item-link {
  display: block;
  width: 100%;
  height: 100%;
}
.blog__item-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  aspect-ratio: 305/326;
  margin-bottom: 10px;
}
.blog__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2%;
  text-align: center;
  color: #001031;
  max-width: 290px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .blog__item-title {
    font-size: 18px;
    max-width: 220px;
  }
}
@media (max-width: 1010px) {
  .blog__item-title {
    max-width: 170px;
    font-size: 14px;
  }
}

body {
  font-family: "DIN Pro";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding: 0 24.5px;
  }
}
@media (max-width: 1010px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px 0 81px 0;
}
@media (max-width: 1010px) {
  .breadcrumbs {
    margin: 60px 0 38px 0;
  }
}
.breadcrumbs__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #001031;
}
@media (max-width: 1010px) {
  .breadcrumbs__prev {
    top: -150%;
  }
}
.breadcrumbs__prev > span {
  display: block;
  width: 10px;
  height: 16px;
  background: url("../../images/Vector4.svg") no-repeat center;
  margin-right: 7px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
}
@media (max-width: 1010px) {
  .breadcrumbs__item {
    font-size: 14px;
    margin-right: 6px;
  }
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__item > span {
  display: block;
  width: 8px;
  height: 16px;
  margin-top: 2px;
  background: url("../../images/Vector48.svg") no-repeat center;
}
.breadcrumbs__item:last-of-type {
  margin-right: 0;
}

.footer {
  padding: 50px 0 39px 0;
  background-color: #001031;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-size: 11px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: left;
  text-decoration-line: underline;
  color: #fff;
}
.footer__right {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__right-title {
  display: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2%;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media (max-width: 1010px) {
  .footer__right-title {
    display: block;
  }
}
.footer__right-tel {
  display: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 14px;
}
@media (max-width: 1010px) {
  .footer__right-tel {
    display: block;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
}
@media (max-width: 1010px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list:first-of-type {
  margin-right: 90px;
}
.footer__nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2%;
  color: #fff;
}
.footer__nav-list > .footer__nav-item {
  margin-bottom: 5px;
}
.footer__nav-list > .footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__nav-social {
  display: flex;
  align-items: center;
}
.footer__nav-social > .footer__social-item:first-child {
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */